<section class="add-new-category-item">
  <div class="add-new-category-item__content">

    <form [formGroup]="form" class="add-new-category-item__content__form">

      <mat-form-field appearance="outline" floatLabel="always" class="add-new-category-item__content__form__name-input">
        <mat-label>Nazwa</mat-label>
        <input matInput formControlName="name" required (keyup.enter)="!addButon.disabled ? onAddClick() : null">
      </mat-form-field>

      <mat-form-field appearance="outline" floatLabel="always" class="add-new-category-item__content__form__cost-input">
        <mat-label>Kwota</mat-label>
        <input matInput formControlName="cost" required appOnlyNumericValues
          (keyup.enter)="!addButon.disabled ? onAddClick() : null">
      </mat-form-field>

      <mat-checkbox formControlName="isPerParticipant"
        class="add-new-category-item__content__form__per-participant-input">Za osobę</mat-checkbox>

      <!-- <mat-icon class="add-new-category-item__content__form__close-button" (click)="closeSection()">close</mat-icon> -->
    </form>

    <button class="add-new-category-item__content__form__button" mat-raised-button color="primary" #addButon
      [disabled]="form.invalid" (click)="onAddClick()" (keyup.enter)="onAddClick()">Dodaj</button>
  </div>
</section>