@import 'src/styles/variables.scss';

.integration-list-page {
  margin: 2rem;

  &__header {
    font-weight: bold;
    padding-top: 1rem;
    font-size: 2.25rem;
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(420px, 1fr));
    column-gap: 4rem;
    row-gap: 2rem;
    margin-top: 3rem;

    &__add-button {
      align-self: center;
      width: 140px;
      height: 140px;
      background: $blackish;
      border-radius: 10px;
      transition: 0.3s;
      cursor: pointer;

      &__icon {
        transform: scale(4);
        color: $champagne;
        transition: 0.3s;

        &:hover {
          color: $someblue;
        }
      }

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}
