<mat-card class="budget-categories" #comp>
  <div class="budget-categories__top">
    <mat-card-header class="budget-categories__top__header">
      <mat-card-title>
        <b>Kategorie budżetu</b>
      </mat-card-title>
    </mat-card-header>

    <mat-divider />

    <mat-card-content class="budget-categories__top__content">
      <app-budget-categories-table [budgetCategories]="integration.categories" [integrationBudget]="integration.budget"
        [isAddNewCategorySectionOpen]="isAddNewCategorySectionOpen" [versionId]="selectedVersionId"
        [viewConfig]="viewConfig" />

    </mat-card-content>
  </div>
  <mat-card-footer class="budget-categories__bottom">
    @if(isAddNewCategorySectionOpen)
    {
    <app-add-new-category [lastBudgetCategory]="lastBudgetCategory" [integrationBudget]="integration.budget"
      [integrationId]="integration.id!" (addNewCategory)="addNewCategory($event)" (close)="closeAddNewCategorySection()"
      class="budget-categories__top__content__add-new-category" />
    }
    @if(!isAddNewCategorySectionOpen && viewConfig.isAddCategoryButtonDisplayed) {
    <mat-divider />
    <button mat-button color="accent" (click)="openAddNewCategorySection()"
      class="budget-categories__bottom__add-button" aria-label="add new category">
      <mat-icon class="budget-categories__bottom__add-button__icon">add_circle</mat-icon>
      <span class="budget-categories__bottom__add-button__text">Dodaj nową kategorię</span>
    </button>
    }
  </mat-card-footer>
</mat-card>