<main class="version-editor">
  <section class="version-editor__headline">
    <h1 class="version-editor__headline__main-version-header">Wersja główna</h1>

    <div class="version-editor__headline__versions-list">
      @if(allVersions$ | async; as allVersions) {
      @if(allVersions.length > 0) {
      <app-versions-list [versions]="allVersions!" (selectedVersion)="selectSecondaryVersion($event)"
        [selectedVersionId]="(integrationSecondaryVersion$ | async)?.appliedVersion?.id" #versionsList />
      }
      }
    </div>

  </section>
  <div class="version-editor__versions">
    <section class="version-editor__versions__main-version">
      @if(integrationPrimaryVersion$ | async; as integrationPrimaryVersion) {
      <app-version-actions [versionName]="integrationPrimaryVersion.appliedVersion?.name!"
        [versionId]="integrationPrimaryVersion.appliedVersion?.id!" [viewConfig]="primaryVersionActionsViewConfig"
        (edit)="onPrimaryVersionEditClick()"
        (delete)="onDeleteVersionClick(integrationPrimaryVersion.appliedVersion?.id!)"
        (duplicate)="onDuplicateVersionClick(integrationPrimaryVersion.appliedVersion?.id!)"
        (setAsMain)="onSetAsMainVersionClick()" />

      <div class=" version-editor__versions__main-version__progress-bar">
        @if(percentageOfPrimaryVersion$ | async; as percentageOfPrimaryVersion) {
        <mat-progress-bar class="version-editor__versions__main-version__percentage-progress-bar" mode="determinate"
          [color]="percentageOfPrimaryVersion < 100 ? 'accent' : 'warn'" [value]="percentageOfPrimaryVersion" />
        <p class="version-editor__versions__main-version__progress-bar__text">{{ percentageOfPrimaryVersion |
          convertToPercentage}}</p>
        }
      </div>

      <div class="version-editor__versions__main-version__budget-categories">
        <app-budget-categories [integration]="integrationPrimaryVersion" [viewConfig]="budgetCategoriesViewConfig" />
      </div>
      }

    </section>
    <section class="version-editor__versions__secondary-version">
      @if(integrationSecondaryVersion$ | async; as integrationSecondaryVersion) {
      <app-version-actions [versionName]="integrationSecondaryVersion.appliedVersion?.name!"
        [versionId]="integrationSecondaryVersion.appliedVersion?.id!" [viewConfig]="secondaryVersionActionsViewConfig"
        (delete)="onDeleteVersionClick(integrationSecondaryVersion.appliedVersion?.id!)"
        (duplicate)="onDuplicateVersionClick(integrationSecondaryVersion.appliedVersion?.id!)"
        (setAsMain)="onSetAsMainVersionClick()" (nameEdit)="onChangeVersionNameClick($event)" />

      <div class="version-editor__versions__secondary-version__progress-bar">
        @if(percentageOfSecondaryVersion$ | async; as percentageOfSecondaryVersion) {
        <mat-progress-bar class="version-editor__versions__secondary-version__progress-bar__bar" mode="determinate"
          [color]="percentageOfSecondaryVersion < 100 ? 'accent' : 'warn'" [value]="percentageOfSecondaryVersion" />
        <p class="version-editor__versions__secondary-version__progress-bar__text">{{
          percentageOfSecondaryVersion | convertToPercentage }}</p>
        }
      </div>


      <div class="version-editor__versions__secondary-version__budget-categories">
        <app-budget-categories [integration]="integrationSecondaryVersion" [viewConfig]="budgetCategoriesViewConfig" />
      </div>
      }
      @if(allVersions$ | async; as allVersions) {
      @if(allVersions.length < 1) { <div class="version-editor__versions__secondary-version__no-content">
        <p class="version-editor__versions__secondary-version__no-content__paragraph">Brak innych wersji do porównania
        </p>
  </div>
  }

  }
  </section>
  </div>
</main>