@import 'src/styles/variables.scss';

.snackbar {
  display: flex;
  padding: 0.5rem 0 0.5rem 0.5rem;
  background-color: $champagne;

  &__text {
    color: $blackish;
    font-weight: bold;
  }

  &__button {
    position: relative;

    &__icon {
      color: $blackish;
      position: absolute;
      right: 0;
    }
  }
}
