<mat-card class="budget-primary-details-form">
  <mat-card-content class="budget-primary-details-form__content">
    <form [formGroup]="form" class="budget-primary-details-form__content__form">

      <mat-form-field appearance="outline" floatLabel="always"
        class="budget-primary-details-form__content__form__name-field">
        <mat-label>Wersja</mat-label>
        <input matInput formControlName="mainVersionName" required>
      </mat-form-field>

      <mat-form-field appearance="outline" floatLabel="always">
        <mat-label>Planowany budżet (zł)</mat-label>
        <input matInput formControlName="budget" appOnlyNumericValues required>
      </mat-form-field>

      <mat-form-field appearance="outline" floatLabel="always">
        <mat-label>Planowana liczba osób</mat-label>
        <input matInput formControlName="participants" appOnlyNumericValues required>
      </mat-form-field>

    </form>

  </mat-card-content>
</mat-card>