.budget-primary-details-form {
  padding: 2rem 1.5rem 1rem 1.5rem;

  &__content {
    &__form {
      display: flex;
      gap: 1rem;
      align-items: center;

      & > * {
        // flex-grow: 1;
        flex-shrink: 2;
      }

      &__name-field {
        flex-grow: 1;
        flex-shrink: 0;
      }
    }
  }
}
