@import 'src/styles/variables.scss';

.header {
  height: 7.5vh;
  background: $blackish;
  box-shadow: 0px 3px 10px #0000001f;
  display: flex;
  justify-content: space-between;
  padding-inline: 4vh;

  &__logo {
    display: flex;
    align-items: center;
    padding-block: 0.7rem;

    &__image {
      max-height: 2.5rem;
      object-fit: scale-down;
      -webkit-filter: invert(1);
      filter: invert(1);
    }
  }

  &__integration-name {
    margin-right: 5vh;
  }

  &__go-home {
    height: 1.25rem;
    -webkit-filter: invert(1);

    filter: invert(1);
  }
}
