@import 'src/styles/variables.scss';

.integration-page-footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 1rem;

  &__button {
    padding-inline: 2rem;
    height: 3rem;

    &:disabled {
      background-color: $someblue;
      opacity: 0.6;
    }
  }
}
