<section class="version-name-dialog">
  <h2 mat-dialog-title>Name</h2>
  <mat-dialog-content class="version-name-dialog__content">
    <p>What's new version name?</p>
    <mat-form-field>
      <input matInput [(ngModel)]="dialogData.name" #name="ngModel" (keyup.enter)="name.valid ? close() : null"
        required>
    </mat-form-field>
    @if (name.invalid) {
    <mat-error>{{ 'You must enter a value'}}</mat-error>
    }
    <mat-dialog-actions class="version-name-dialog__content__actions">
      <button mat-button [mat-dialog-close]="dialogData.name" cdkFocusInitial [disabled]="name.invalid">OK</button>
    </mat-dialog-actions>
  </mat-dialog-content>


</section>