<article class="version-actions">
  <h2 class="version-actions__header">{{ versionName }}</h2>

  <div class="version-actions__buttons">
    @if(viewConfig.isEditButtonDisplayed) {
    <button mat-icon-button (click)="onEditClick()" matTooltip="Edytuj integrację" matTooltipPosition="above"
      matTooltipHideDelay="1000">
      <mat-icon>edit</mat-icon>
    </button>
    }

    @if(viewConfig.isEditNameButtonDisplayed) {
    <button mat-icon-button (click)="onEditNameClick()" matTooltip="Zmień nazwę wersji" matTooltipPosition="above"
      matTooltipHideDelay="1000">
      <mat-icon>edit</mat-icon>
    </button>
    }

    @if(viewConfig.isDeleteButtonDisplayed) {
    <button mat-icon-button (click)="onDeleteClick()" matTooltip="Usuń wersję" matTooltipPosition="above"
      matTooltipHideDelay="1000" data-test-id="delete-button">
      <mat-icon>delete</mat-icon>
    </button>
    }

    @if(viewConfig.isSetAsMainButtonDisplayed) {
    <button mat-icon-button (click)="onSetAsMainClick()" matTooltip="Ustaw jako główną wersję"
      matTooltipPosition="above" matTooltipHideDelay="1000" data-test-id="setAsMain-button">
      <mat-icon>star</mat-icon>
    </button>
    }

    <button mat-raised-button (click)="onDuplicateClick()" class="version-actions__buttons__duplicate-button"
      [ngClass]="{'version-actions__buttons__duplicate-button--progress': isDuplicatingInprogress}"
      [disabled]="isDuplicatingInprogress" data-test-id="duplicate-version-button">
      <p>Duplikuj wersję</p>
      @if(isDuplicatingInprogress) {
      <mat-spinner [diameter]="15" data-test-id="duplicate-version-button-spinner" />
      }
    </button>
  </div>

</article>
